<!--
Descricao: Exercicio da aula 02 - Introdução básica ao HTML e CSS 
nome_arquivo: Home.html
nome_exercicio: Atividade 02 - Introdução básica ao HTML e CSS
nome_aluno: Junio Henrique
email_aluno: junio.henrique@aluno.cps.sp.gov.br
turma: WEBI-ISW028-A
-->
form {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: burlywood;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
}

form {
    height: 500;
}
a {
    padding: 5px;
}

